@reference "tailwindcss";

.titlebar {
  @apply text-slate-200 bg-gradient-to-b from-slate-700 to-slate-800;
  font-weight: bold;
  height: 2rem;
  user-select: none;
  display: flex;
  width: 100%;
  z-index: 9999;
}

.titlebar-right {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  user-select: none;
  -webkit-user-select: none;
}

.titlebar-button:hover {
  @apply bg-slate-600;
  cursor: pointer;
}